.header-video-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  grid-area: header;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}

/* Κοινές ιδιότητες για όλα τα video */
.header-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(62%);
  position: absolute;
  top: 0;
  left: 0;
}

/* Απόκρυψη και των δύο αρχικά */
.desktop-video,
.mobile-video {
  display: none;
}

/* Εμφάνιση μόνο του desktop video σε οθόνες > 768px */
@media (min-width: 769px) {
  .desktop-video {
    display: block;
    object-position: center 43%;
  }
}

/* Εμφάνιση μόνο του mobile video σε οθόνες <= 768px */
@media (max-width: 768px) {
  .mobile-video {
    display: block;
    object-position: center 50%;
  }
}

.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 0 1rem;
  gap: 20px;
  z-index: 2;
}

.header-title h1 {
  font-size: 4rem;
  font-weight: 600;
  margin: 0;
  letter-spacing: 0.3rem;
}

.C {
  font-size: 4.7rem;
}

.and {
  font-size: 3.7rem;
  font-style: italic;
}

.scroll-button {
  display: inline-block;
  padding: 8px 20px;
  background-color: inherit;
  color: #f5f5f5;
  font-weight: 600;
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.3s ease;
  opacity: 80%;
  position: relative;
  right: 21px;
  border: 2px solid white;
}

.scroll-button:hover {
  transform: scale(1.04);
  transition: transform 0.3s ease;
  opacity: 100%;
}

.home-page {
  display: grid;
  grid-template-areas:
    'header'
    'welcome'
    'offer'
    'menu';
  grid-template-rows: auto auto auto auto;
  gap: 2rem;
}

.page-container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* -------- Responsive: Mobile -------- */
@media (max-width: 768px) {
  .page-container {
    padding: 0 !important;
    width: 95vw;
    padding: 0 1rem;
  }

  .home-page {
    gap: 0rem;
  }

  .header-title h1 {
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
    margin: 0;
  }

  .C {
    font-size: 2.6rem;
  }

  .and {
    font-size: 1.8rem;
    font-style: italic;
  }

  .scroll-button {
    font-size: 0.9rem;
    padding: 6px 16px;
    border-radius: 20px;
    opacity: 0.8;
    right: unset;
    align-self: center;
  }
}
