/*-----------------------------------------Layout Css------------------------------------*/
.app-wrapper {
  display: flex; 
  flex-direction: column; 
  min-height: 100vh; /* <-- Ύψος του viewport, για να γεμίζει πάντα η οθόνη */
}

.content {
  flex: 1; /* <-- Αφήνει το περιεχόμενο να πάρει όλο τον διαθέσιμο χώρο */
}
