.menu-wrapper {
  display: flex;
  justify-content: center;
  gap: 4rem;
  background-color: #4e2c1e;
  padding: 0.6rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 999px;
  margin: 1rem;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* Σύνδεσμοι γενικά */
.menu-wrapper a {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5rem;
  color: #ffffff;
  cursor: pointer;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  text-decoration: none;
}

/* Hover effect */
.menu-wrapper a:hover {
  color: #bdbbbb;
}

/* Κείμενο και icons */
.menu-text {
  display: inline;
}

.menu-icon {
  display: none;
}

/* Responsive για tablet και μικρότερα */
@media (max-width: 768px) {
  .menu-wrapper {
    gap: 2rem;
    margin: 1rem 0.5rem;
    padding: 0.5rem;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .menu-wrapper a {
    font-size: 1.2rem;
    white-space: nowrap;
  }
}

/* Responsive για κινητά */
@media (max-width: 480px) {
  .menu-wrapper {
    flex-direction: row;
    gap: 3.5rem;
    padding: 0.6rem 2rem;
    margin: 0;
    border-radius: 0;
    border-radius: 9999px;
    box-sizing: border-box;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .menu-wrapper a {
    font-size: 1.7rem;
    text-align: center;
  }

  /* Εμφάνιση μόνο των icons */
  .menu-text {
    display: none;
  }

  .menu-icon {
    display: inline;
  }
}
